*
{
    padding:0;
    margin: 0;
}


/*--------------------- Estilos para el Menu-----------------------------*/
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black; /* Fondo negro */
    color: white; /* Color de fuente blanco */
    padding: 10px; /* Espaciado */
}

/* Estilos para el logo */
.logo {
    width: 10%;
    height: 10%;
    margin-right: 10px; /* Espacio entre el logo y el título */
}

/* Estilos para el título */
.titulo {
    display: flex;
    margin-right: auto; /* Alinear a la izquierda */
    font-family: "Arial", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

.titulo h1
{   /* Este apartado baja el titulo "Blockbooster"*/
    position: relative; 
    top: 15px;
}

.menu {
margin-right: 0px;
}

/* Estilos para los elementos del menú (suponiendo que son elementos <a>) */
.menu a {
    margin-right: 20px; /* Espacio entre los elementos del menú */
    text-decoration: none; /* Sin subrayado en los enlaces */
    color: white; /* Color de fuente blanco */
}

.menu a:hover
{
    color: rgb(196, 199, 37);
}


/**--------------------------galeria imagenes------------------*/

/**
/**primera galeria**/
/* styles.css */

body, html {

    /*
    Fuente 
    <weight>: Use a value from 200 to 700
    */
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;

    margin: 0;
    padding: 0;
    height: 100%;
      /* Elimina la siguiente línea para permitir el desplazamiento horizontal */
    /* overflow: hidden; */
}

.mi-galeria {
    display: flex;
    width: calc(100vw * 3); /* Adjust based on the number of images */
    transition: transform 0.5s ease-in-out;
    overflow-x: hidden;
    scroll-snap-type: x mandatory; /* Snap to each image */
  
    
}


.mi-galeria img {
    width: 100vw;
    height: 700px;
    object-fit: cover;
    scroll-snap-align: start; /* Align images to the start */
    

}

.flecha-izquierda, .flecha-derecha {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    background: transparent;
    border: none;
    color: white;
    cursor: pointer;
}

.flecha-izquierda {
    left: 10px;
}

.flecha-derecha {
    right: 10px;
}
.hidden-image {
    display: none;
}

/**--------------------------Quienes somos------------------*/

.quienSomos
{   
    display: flex;
    width: 100%;
    margin: 100px 0px 100px 0px;
}

.qsCol1
{
    width: 50%;
    padding: 0px 20px 0 50px;
    text-align: justify;
    position: relative;
    top: 100px;
}

.qsCol1 h2
{
    font-size: 50px;
}

.qsCol2
{
    width: 50%;
    padding: 0px 20px 0 20px ;
    position: relative;
    bottom: 50px;
}

.qsImg
{
    width: 100%;
}

/**--------------------------Visión Empresarial------------------*/


.visEmp
{
    width: 100%;
    margin: 100px 0px 100px 0px;
    padding: 50px 0px;
    background-image: url(https://cdn.wallpapersafari.com/67/89/7zmYOV.png);
    background-size: 100%;
}

.visEmpTitulo
{
    width: 100%;
    text-align: center;
    font-size: 50px;
    color: white;
}

.visEmpCol
{
    display: flex;
    padding: 0px 50px 0px 50px;
    text-align: justify;
    color: whitesmoke;
}

.visEmpCol h2
{   
    text-align: center;
    margin: 50px 0px 50px 0px;
    
}

.veCol1
{
    width: 33%;
    padding: 0px 50px 100px 50px;
    background-color: #2222226e;
    margin: 10px 10px;
}
.veCol2
{
    width: 33%;
    padding: 0px 50px 100px 50px;
    background-color: #2222226e;
    margin: 10px 10px;
}
.veCol3
{
    width: 33%;
    padding: 0px 50px 100px 50px;
    background-color: #2222226e;
    margin: 10px 10px;
}

/**--------------------------estilos para la Ofertas segunda galeria--------------------*/

.Ofertas
{
    margin: 100px 0px;
    padding: 0px 30px;
}

.Ofertas h2
{
    width: 100%;
    text-align: center;
    font-size: 50px;
    margin: 50px 0px;
}

.contenedor-galeria {
    display: grid;
    place-items: center;
    width: 100%;
}

.galeria {
    
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    max-width: 100%;
}

.contenedor-imagen {
    
    position: relative;
    
    width: 100%;
    border-radius: 55px;
    height: 270px;
    background-color: #efefef;
    transition: 0.4s ease-in-out;
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.5);
    flex: 0.25;
}

.contenedor-imagen img {
    
    height: 250px;
    width: 100%;
    object-fit: cover;
}

.contenedor-imagen:hover {
    
    flex: 2;
    cursor: pointer;
    border-radius: 8px;
}
.Ofertas{
    height: 350px;
    align-items: center;
}
/*---------------Comentarios----------------------------------------*/



.contact-form
{
    width: 100%;
    display: flex; 
    flex-wrap: wrap;
    padding: 50px 100px; 
    box-sizing: border-box;
    

}

.formTitulo
{
    width: 100%;
    margin-bottom: 16px;
}

.formTitulo h2
{
    font-size: 50px;
    text-align: center; 
}

.formTitulo span
{
    font-size: .9em; 
}



.itemFormulario input
{
    width: 100%; 
    height: 40px;
    margin-bottom: 15px;
    box-sizing: border-box; 
    border-radius: 8px;
    border: yellow;  
}

.itemFormulario input::placeholder
{
    font-style: italic;
    
}

.itemFormulario textarea
{
    max-width: 100%;
    min-width: 100%; 
    height:20px !important;
}

.btn
{
    background-color: goldenrod;
    color: white;
}

.btn:hover
{
    color: white; 
    background: black;
}

/*----------------- Estilos para la sección de contacto------------------------ */
.contacto 
{   
    width: 100%;
    background-color: black;
    color: white;
    padding: 50px 20px;
    
}

.contacto h2
{
    padding: 20px 0px; 
}

.contacto a
{   
    color: white;
}

.contacto a:hover
{   
    color: rgb(196, 199, 37);
}

.contactCol
{
    display: flex;
    
}

.cCol1
{
    padding: 0px 20px;
    
}
.cCol2
{
    padding: 0px 20px; 
   
}
.cCol3
{
    padding: 0px 20px; 
}
.cCol4
{
    padding: 0px 20px;
}

.social-icons
{   
    padding: 10px 0px;
    min-height: 1px;
}

.items{
    font-size: 2em;
    width: 50%;
    text-align: center;
    margin: 0px 5px;
       }


